<i class="close icon"></i>
<div class="header">
    Add new car
</div>
<div class="content">
    <form class="ui form" [formGroup]="form">
        <!-- <div class="field">
            <label for="">Image</label>
            <input #fileInput type="file">

        </div> -->
        <div class="two fields">
            <div [ngClass]="{'field': true, 'error': form.controls.name.errors  && form.controls.name.touched}">
                <label>Name *</label>
                <input type="text" name="name" placeholder="Car Name" formControlName="name">
            </div>
            <div [ngClass]="{'field': true, 'error': form.controls.vin.errors  && form.controls.vin.touched}">
                <label>VIN *</label>
                <input type="text" name="vin" placeholder="Car VIN" formControlName="vin">
            </div>
        </div>
        <div class="two fields">
            <div [ngClass]="{'field': true, 'error': form.controls.make.errors  && form.controls.make.touched}">
                <label>Make *</label>
                <input type="text" name="make" placeholder="Car Make" formControlName="make">
            </div>
            <div [ngClass]="{'field': true, 'error': form.controls.model.errors  && form.controls.model.touched}">
                <label>Model *</label>
                <input type="text" name="model" placeholder="Car Model" formControlName="model">
            </div>
        </div>
        <div class="two fields">
            <div [ngClass]="{'field': true, 'error': form.controls.year.errors  && form.controls.year.touched}">
                <label>Year *</label>
                <input type="number" name="year" placeholder="Year" formControlName="year">
            </div>
            <div class="field">
                <label>Type</label>
                <input type="text" name="type" placeholder="Car Type" formControlName="type">
            </div>
        </div>
        <div class="two fields">
            <div [ngClass]="{'field': true, 'error': form.controls.fuelType.errors  && form.controls.fuelType.touched}">
                <label>Fuel Type *</label>
                <input type="text" name="fuelType" placeholder="Car Fuel Type" formControlName="fuelType">
            </div>
            <div class="field">
                <label>Odometer</label>
                <input type="number" name="odometer" placeholder="Car Odometer" formControlName="odometer">
            </div>
        </div>
    </form>
</div>
<div class="actions">
    <div class="ui black deny button">
        Cancel
    </div>
    <button (click)="submit()" class="ui positive right labeled icon button" [disabled]="form.invalid">
        Submit
        <i class="checkmark icon"></i>
    </button>
</div>