<!-- Main menu -->
<div id="main-menu" class="ui borderless menu">
  <div class="ui container">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="item">
      <img class="logo" src="../../../../assets/logo/logo.png" style="width: 30px;">
    </a>
    <div class="ui transparent left icon input">
      <input type="text" placeholder="Search...">
      <i class="search icon"></i>
    </div>    
    <div class="right menu">
      <a class="ui item">
        <i class="sign-out icon"></i>Logout
      </a>
    </div>
  </div>
</div>