<div *ngIf="car$ | async as car">
    <div class="header">
        <div class="title"> {{ car.name }} </div>
        <div class="meta"> {{ car.vin }} </div>
        <div class="actions">
            <i (click)="readonlyToggle()" *ngIf="!readonly" class="save blue icon"></i>
            <i (click)="readonlyToggle()" *ngIf="readonly" class="pencil blue icon"></i>
            <i class="floated trash red icon"></i>
        </div>
    </div>
    
    <google-map [height]="300" [center]="center">
        <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
            [title]="marker.title" [options]="marker.options">
        </map-marker>
    </google-map>

    <div *ngIf="keys$ | async as keys" class="ui form">
        <div *ngFor="let key of keys" class="inline fields">
            <label >{{ camelCaseToSentence(key) }}</label>
            <input type="text" placeholder="Car Name" [value]="car[key]" [disabled]="readonly">
        </div>
    </div>
</div>