
<app-create-car class="ui modal"></app-create-car>

<div class="ui container">
  <app-list-items *ngIf="! (isItemSelected | async)" [items]="fleet$"></app-list-items>
  
  <div *ngIf="isItemSelected | async" class="ui grid three columns">
    <div class="six wide column">
      <app-list-items [items]="fleet$"></app-list-items>
    </div>
    <div class="one wide column">
      <div class="ui vertical divider"></div>
    </div>
    <div class="nine wide column">
      <app-detail></app-detail>
    </div>
  </div>
</div>

<button (click)="show()" class="ui circular icon float button">
  <i class="plus icon"></i>
</button>