<div [ngClass]="{'ui raised link card': true, 'green': isSelected == true}">
    <div class="image left" (click)="selectItem(car)">
        <img src="../../../../assets/images/default_car.jpg">
    </div>
    <div class="content" (click)="selectItem(car)">
        <div class="header">{{ car.name }}</div>
        <div class="meta">{{ car.vin }}</div>
        <div class="description">
            {{ car.make}} {{ car.model }} {{ car.year }}
        </div>
    </div>
    <div class="extra content">
        <app-delete [car]="car"></app-delete>            
    </div>
</div>