.ui.card {
    width: 100%;
    display: -webkit-inline-box;
    margin-bottom: 10px;
}

.ui.card .image {
    max-width: 150px;
    width: 30%;
}
.extra.content {
    margin-left: auto;
    margin-right: 0
}
